body {
    background: $white;
    color: $darkCharcoal;
    height: 100%;
    font-size: 16px;
    font-family: arial, helvetica, sans-serif;
    line-height: 1.5em;
    overflow-x: hidden;
    margin: 0;
    padding: 0
}