// colors
$vividOrange: #F95B07;
$black: #000000;
$aqua: #7FDBFF;
$white: #FFFFFF;
$darkCharcoal: #333333;
$davyGray: #555555;
$lightGray: #d3d3d3;
$gray80: #CCCCCC;
$gray: #777777;
$facebook: #3B5998;
$googleplus: #DA4834;
$twitter: #00ACEE;